.category {
    margin-top: 240px;
}

.category h2 > span {
    color: var(--theme-blue);
}

.category-wrapper {
    margin-top: 30px;
    display: flex;
    gap: 30px;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.category-block {
    padding: 90px 100px 36px 60px;
    border-radius: 24px;
    display: flex;
    flex-wrap: wrap;
    flex-basis: 190px;
    cursor: pointer;
    transition: var(--main-transition-duration);
}

.category-block:hover {
    transform: scale(1.1);
}

.category-block--yellow {
    background-color: #FBF3E8;
}

.category-block--red {
    background-color: #FFEEEE;
}

.category-block--purple {
    background-color: #E5DEFF;
}

.category-block--purple path {
    fill: #9577ff;
}

.category-block--pink {
    background-color: #F9E5F5;
}

.category-block--sky-blue {
    background-color: #F3F9FF;
}

.category-block--active {
    background-color: var(--theme-blue);
    color: var(--theme-white);
}

.category-block--active path {
    fill: var(--theme-white);
}

.category-block svg {
    margin-bottom: 30px;
}

.category-block h3 {
    flex-basis: 100%;
    margin-bottom: 20px;
}

.category-block p {
    line-height: 24px;
}

/* .category {
    display: flex;
    flex-wrap: wrap;
    margin-top: 30px;
}

.marked--blue {
    color: var(--theme-blue);
}

.category-block-wrapper {
    display: flex;
    flex-wrap: wrap;
    gap: 32px;
    padding-top: 32px;
}

.category-block {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
    padding: 32px 16px;
    gap: 10px;
    position: relative;
    transition: var(--main-transition-duration);
    opacity: .7;
    cursor: pointer;
}

.category-block:hover {
    transform: scale(1.1);
    opacity: 1;
}

.category-block__title {
    flex-basis: 100%;
    font-size: 32px;
}

.category-block__paragraph {
    font-size: 20px;
    font-family: 'Raleway';
    font-weight: 400;
}

.category-block__img-wrapper {
    width: 40px;
    height: 40px;
    z-index: 1;
}

.category-block__img {
    min-width: 100%;
    height: 100%;
}

.category-block__bg {
    background-color: var(--theme-blue);
    opacity: 0.1;
    width: 100%;
    height: 100%;
    position: absolute;
    border-radius: 24px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.bgc--blue {
    opacity: 1;
}

.bgc--yellow {
    background-color: var(--additional-orange);
}

.bgc--red {
    background-color: var(--theme-red);
}

.bgc--pink {
    background-color: var(--additional-pink);
}

.bgc--light-blue {
    background-color: var(--additional-blue);
}

.category .is--active {
    color: var(--theme-white);
}

.is--active p, 
.is--active h5 {
    z-index: 1;
}

@media screen and (min-width: 768px) {
    .category {
        padding-top: 50px;
    }

    .category__title {
        text-align: center;
        font-size: 40px;
    }

    .category-block-wrapper {
        justify-content: space-between;
    }

    .category-block {
        flex-basis: 50%;
    }
}

@media screen and (min-width: 1440px) {
    .category > .container {
        max-width: 100%;
    }

    .category__title {
        font-size: 55px;
    }

    .category-block-wrapper {
        margin-top: 30px;
    }

    .category-block {
        flex-basis: 15%;
    }
} */