.form-block {
    padding-top: 100px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    position: relative;
}

.form__title {
    font-size: 30px;
    padding-bottom: 32px;
}

.form-block form {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
}

form * {
    width: 100%;
}

.form__input-wrapper {
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
    font-family: 'Raleway';
}

.form__input-wrapper * {
    flex-basis: 100%;
}

.form__label {
    color: var(--theme-black);
    font-weight: 700;
    opacity: .7;
    font-size: 18px;
}

.form__input {
    border: 0;
    border-bottom: 2px solid #E0E0E0;
    font-size: 18px;
    transition: var(--main-transition-duration);
}

.form__input::placeholder {
    color: var(--theme-black);
    font-family: 'Raleway';
    font-weight: 400;
}

.form__textarea {
    border: 0;
    font-size: 18px;
    border-bottom: 2px solid var(--theme-blue);
    color: var(--theme-black);
    font-family: 'Raleway';
    resize: none;
    transition: var(--main-transition-duration);
}

.label--blue {
    color: var(--theme-blue);
    opacity: 1;
}

.form__shape {
    position: absolute;
    bottom: 0;
    right: 10px;
}

.form__input:focus-visible, .form__textarea:focus-visible {
    outline: 0;
    border-bottom: 2px solid var(--additional-blue);
}