header {
    width: 100%;
    z-index: 3;
    padding: 20px 0;
    position: absolute;
    top: 0;
    transition: var(--main-transition-duration);
}

header > .container {
    display: flex;
    justify-content: space-between;
}

.navbar {
    display: flex;
    gap: 50px;
}

.navbar__list {
    display: flex;
    gap: 50px;
}

.navbar__list li {
    position: relative;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    transition: var(--main-transition-duration);
    color: var(--theme-white);
    font-weight: 700;
    cursor: pointer;
}

.navbar__list-link {
    font-family: 'Montserrat';
    font-weight: 700;
    transition: var(--main-transition-duration);
}

.navbar__list svg {
    transition: var(--main-transition-duration);
    margin-left: 5px;
}

.navbar__list li:hover  > a{
    color: var(--theme-red-light);
}

.navbar__list li:hover svg {
    transform: rotateX(180deg);
}

.navbar__list li:hover svg path {
    fill: var(--theme-red-light);
}

.burger {
    display: none;
    align-items: center
}

.drop-down {
    position: absolute;
    display: flex;
    flex-direction: column;
    gap: 20px;
    top: 100%;
    left: -25%;
    background-color: var(--theme-black);
    width: 125px;
    align-items: center;
    padding: 20px 10px;
    border-radius: 15px;
    visibility: hidden;
    z-index: -1;
    overflow: hidden;
    opacity: 0;
    height: 0;
    transition: var(--main-transition-duration);
}

.navbar__list li:hover .drop-down {
    opacity: 1;
    visibility: visible;
    height: 180px;
}

header .btn--white:hover {
    background-color: var(--theme-red-light);
}

@media screen and (max-width: 900px) {
    .burger {
        display: flex;
    }

    .navbar {
        display: none;
    }
}