.info {
    color: var(--theme-black);
    padding-top: 100px;
    text-align: center;
}

.info-block {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.info-block__text {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

.info-block__title {
    font-family: 'Montserrat';
    font-size: 30px;
}

.info-block__paragraph {
    font-family: 'Raleway';
    font-weight: 400;
}

.info-block__img {
    max-width: 100%;
    height: auto;
}

.info .btn {
    display: flex;
    gap: 5px;
    transition: var(--main-transition-duration);
}

.info .btn:hover {
    background-color: var(--additional-blue);
    gap: 10px;
}

.reversed {
    order: -1;
}

@media screen and (min-width: 900px) {
    .info-block {
        flex-wrap: nowrap;
        align-items: center;
    }

    .info-block__text {
        text-align: left;
        align-items: flex-start;
        flex-basis: 40%;
        flex-direction: column;
        flex-wrap: nowrap;
    }
}

@media screen and (min-width: 1440px) {
    .info-block__title {
        font-size: 40px;
    }

    .info-block__paragraph {
        font-size: 20px;
    }
}