.quote {
    margin-top: 100px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.quote-block-wrapper.splide {
    visibility: visible;
    padding: 0 16px;
}

.quote-block-wrapper .splide__list {
    display: block;
}

.quote-block-wrapper .splide__track {
    overflow: visible;
}

.quote-block {
    padding-top: 90px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    text-align: center;
}

.quote__text {
    font-size: 15px;
    position: relative;
    line-height: 24px;
}

.quote__text::before {
    content: url(../images/hooks-before.svg);
    position: absolute;
    left: -10px;
    top: -20px;
}

.quote__text::after {
    content: url(../images/hooks-after.svg);
    position: absolute;
    bottom: -20px;
    right: -10px;
}

.quote-block-author {
    margin-top: 40px;
}

.quote__photo {
    width: 120px;
    height: 120px;
}

.quote__name {
    width: 100%;
    font-size: 20px;
    margin-top: 10px;
}

.quote__subtitle a {
    font-size: 12px;
    color: var(--theme-blue);
}

.quote-block:not(.is-active) .quote__subtitle a {
    cursor: default;
}

.quote-block.is-active .quote__subtitle a:hover {
    text-decoration: underline;
}

@media screen and (min-width: 991px) {
    .quote h2 {
        margin-bottom: 60px;
    }

    .quote-block-wrapper {
        display: flex;
        justify-content: center;
        gap: 30px;
        align-items: flex-start;
        min-height: 400px;
    }

    .quote-block-wrapper.splide {
        visibility: initial;
        padding: 0;
    }

    .quote-block-wrapper .splide__track {
        height: 100%;
        overflow: hidden;
    }

    .quote-block-wrapper .splide__list {
        align-items: flex-start;
        display: flex;
    }

    .quote-block {
        margin-top: 20px;
        flex-basis: 770px;
        flex-shrink: 0;
        position: relative;
        padding: 50px 30px 110px 30px;
        background-color: #F8F8F8;
        opacity: .3;
        transition: var(--main-transtion-duration);
    }

    .quote .is-active {
        margin-top: 0;
        opacity: 1;
    }

    .quote__text {
        flex-basis: inherit;
        flex-shrink: 1;
    }

    .quote-block-author {
        position: absolute;
        bottom: -140px;
        margin-top: 30px;
    }
}