section.shots {
    background-image: url('../images/instagram-background.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 160px;
}

.shots__title {
    margin-bottom: 60px;
}

.shots-wrapper {
    display: flex;
    justify-content: center;
    gap: 30px;
    overflow: hidden;
    position: relative;
}

.shot__image-wrapper {
    display: flex;
}

.shot__image {
    max-width: 100%;
    height: auto;
}

.shot__content {
    margin-top: 24px;
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
}

.shot__content > * {
    flex-basis: 100%;
}

.shot__feedback {
    display: flex;
    flex-wrap: wrap;
    gap: 20px 40px;
}

.shot__feedback > button {
    display: flex;
    align-items: center;
    font-size: 16px;
    font-weight: 700;
    gap: 8px;
    border: 0;
    background-color: transparent;
    cursor: pointer;
    padding: 0;
}

.shot__feedback > button:hover path,
.shot__feedback > button:hover span {
    fill: var(--theme-red);
    color: var(--theme-red);
}

.shot__feedback > button > span {
    padding-top: 2px;
}

.shot__feedback path {
    fill: var(--theme-black);
}

.hashtags__tag {
    color: var(--theme-black);
    opacity: .5;
}

.hashtags__tag:hover {
    text-decoration: underline;
    opacity: 1;
}

.splide__arrows {
    position: absolute;
    z-index: 1;
    width: 100%;
    top: 30%;
}

.splide__arrow {
    position: absolute;
    border: 0;
    background-color: transparent;
    cursor: pointer;
    width: 55px;
    height: 55px;
    padding: 0;
    transition: var(--main-transition-duration);
}

.splide__arrow > svg circle {
    fill: #f1f1f1;
}

.splide__arrow:hover {
    transform: scale(1.2);
}

.splide__arrow--prev {
    left: 135px;
}

.splide__arrow--next {
    right: 130px;
}

@media screen and (max-width: 768px) {

    .splide__arrow--prev {
        left: 15px;
    }
    
    .splide__arrow--next {
        right: 10px;
    }
}