.sponsors {
    padding-top: 100px;
}

.sponsors .container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 60px 0;
}

.sponsors-images {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 70px 130px;
}

.sponsors-images .sponsors__image-wrapper {
    flex-basis: 170px;
}

.sponsors__image-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
}

.sponsors__image-wrapper img {
    max-width: 100%;
    height: auto;
    aspect-ratio: 2;
    object-fit: contain;
    mix-blend-mode: color-burn;
    transition: var(--main-transition-duration);
    cursor: pointer;
}

.sponsors__image-wrapper img:hover {
    transform: scale(1.1);
}