@import url(variables.css);
@import url(fonts.css);
@import url(header.css);
@import url(hero.css);
@import url(info.css);
@import url(schedule.css);
@import url(category.css);
@import url(pricing.css);
@import url(sponsors.css);
@import url(quote.css);
@import url(shots.css);
@import url(form.css);
@import url(contact.css);
@import url(footer.css);
@import url(../node_modules/@splidejs/splide/dist/css/splide-core.min.css);

body {
    position: relative;
}

html,
body,
ul {
    margin: 0;
    padding: 0;
    color: var(--theme-black);
    font-family: 'Montserrat';
    font-weight: 400;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
    font-weight: 700;
}

h2 {
    font-size: 34px;
    line-height: 44.2px;
}

h6 {
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
}

a {
    text-transform: none;
    color: var(--theme-white);
    text-decoration: none;
}

ul {
    list-style: none;
}

p {
    margin: 0;
}

section {
    margin: 60px 0;
}

@media screen and (min-width: 992px) {
    section {
        margin: 120px 0;
    }
}

@media screen and (min-width: 1200px) {
    section {
        margin: 240px 0;
    }
}

.container {
    max-width: var(--max-page-width);
    margin: 0 auto;
    padding: 0 16px;
    position: relative;
}

/* LOGO */

.logo {
    display: flex;
    transition: var(--main-transition-duration);
}

.logo img {
    max-width: 100%;
    height: auto;
}

.logo:hover {
    transform: scale(1.1);
}

/* BTNs */

.btn {
    background-color: var(--theme-blue);
    box-shadow: 0px 10px 30px rgba(56, 29, 219, 0.2);
    border-radius: 8px;
    color: var(--theme-white);
    border: 0;
    padding: 15px 25px;
    font-family: 'Montserrat';
    font-weight: 700;
    cursor: pointer;
    transition: var(--main-transition-duration);
    font-size: 14px;
}

.btn--white {
    background-color: var(--theme-white);
    color: var(--theme-blue);
    text-transform: uppercase;
}

.btn--white:hover {
    background-color: var(--additional-grey);
}

.btn--red {
    background-color: var(--theme-red);
}

.btn--red:hover {
    background-color: var(--theme-red-light);
}

.btn--transperant {
    background-color: transparent;
    box-shadow: none;
}

.btn--bordered {
    background-color: transparent;
    box-shadow: none;
    border: 2px solid var(--theme-blue);
    color: var(--theme-blue);
}